
* {
	margin: 0;
	padding: 0; /*Zentrieren*/
	font-family: 'Dosis';
	font-style: normal;
	font-weight: 300;
	letter-spacing: 1px;
}

body{
	background-image: url('Pictures/space_mainpage.jpg');
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	color: white;
}

.global {
	display: block;
	margin-left: 20%;
	margin-right: 20%;
	background: rgb(124, 51, 28);
  }
  
  .global > h2, .paragraph {
	margin: 10px;
	padding: 5px;
	color: black;

  }
  
  .paragraph {
	background: white;
  }
  
  .paragraph > h2, p {
	margin: 4px;
	font-size: 90%;

  }


.space{
	display: block;
	margin-left: 10px;
}

  h1 {
	  text-transform: uppercase;
	  padding: 40px;
	  text-align: center;
  }
