* {
    margin: 0;
    padding: 0;
    /*Zentrieren*/
}

.background {
    Width: 100%;
    min-width: 600px;
    max-width: 2000px;
    margin: 0px;
    background-image: url('Pictures/space_mainpage.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}


/*Planet Bild positionieren

#planet {
    margin: 0;
    position: absolute;
    top: 40%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
*/


/*Planeten erscheinen rotierend*/

@keyframes transitionIn {
    from {
        opacitiy: 0;
        transform: rotateX(-90deg);
    }
    to {
        opacitiy: 1;
        transform: rotateX(0);
    }
}

.global {
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    background: black;
}

.global>h2,
.paragraph {
    margin: 10px;
    padding: 5px;
    color: black;
}

.paragraph {
    background: white;
}

.paragraph>h2,
p {
    margin: 4px;
    font-size: 90%;
}

.space {
    display: block;
    margin-left: 10px;
}

h1 {
    text-transform: uppercase;
    padding: 40px;
    text-align: center;
}

.centered_container {
    animation: transitionIn 1s;
    border: 1px solid black;
}

td {
    width: 50%;
}

.Mercure {
    animation: transitionIn 1s;
    text-align: left;
    font-size: 21px;
}

.titre {
    position: fixed;
    width: 100%;
    padding: auto;
    margin: auto;
    top: 0;
    background: black;
}

.container {
    margin-top: 150px;
}