body {
    Width: 100%;
    min-width: 600px;
    max-width: 2000px;
    margin: 0px;
    background-image: url('index.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}


/*IVAN
*/

h1 {
    text-align: center;
}

nav {
    width: 100%;
    margin: 0 auto;
    background-color: blue;
    position: sticky;
    top: 0px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    flex: 1 1 auto;
    text-align: center;
    position: relative;
}

nav a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover {
    color: orange;
    border-bottom: 2px solid blue;
}

.sous {
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: black;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

nav>ul li:hover .sous {
    display: flex;
    flex-flow: column wrap;
}

.sous a {
    padding: 10px;
    border-bottom: none;
}

.sous a:hover {
    border-bottom: none;
    background-color: RGBa(200, 200, 200, 0.1);
}

.deroulant>a::after {
    content: " ▼";
    font-size: 12px;
}


/* IVAN
*/

#page1 {
    background-image: url('space_mainpage.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

.main {
    position: absolute;
    top: 10%;
    left: 45%;
    margin: -25px 0 0 -25px;
}

.mainb {
    position: absolute;
    top: 50%;
    left: 42%;
    margin: -25px 0 0 -25px;
    border-radius: 12px;
    /*rounding the button's edges*/
    background-color: rgb(33, 23, 54);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: sans-serif;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

#planet {
    margin: 0;
    position: absolute;
    top: 40%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    /*center the image
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;*/
}

.button_last {
    background-image: -webkit-linear-gradient(top, #e8f3fa, #b0e1ff);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    text-shadow: 1px 0px 0px #0a040a;
    font-family: Georgia;
    color: #3e08a3;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    /*verticale centering*/
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.button_next {
    background-image: -webkit-linear-gradient(top, #e8f3fa, #b0e1ff);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    text-shadow: 1px 0px 0px #0a040a;
    font-family: Georgia;
    color: #3e08a3;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    transform: translate(44px, 0px);
    -webkit-transform: translate(44px, 0px);
    -moz-transform: translate(44px, 0px);
    /*verticale centering*/
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.button_overview {
    background-image: -webkit-linear-gradient(top, #e8f3fa, #b0e1ff);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    text-shadow: 1px 0px 0px #0a040a;
    font-family: Georgia;
    color: #3e08a3;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    margin: 0;
    position: absolute;
    top: 100%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.container {
    animation: transitionIn 1s;
}

@keyframes transitionIn {
    from {
        opacitiy: 0;
        transform: rotateX(-90deg);
    }
    to {
        opacitiy: 1;
        transform: rotateX(0);
    }
    <<<<<<< HEAD
}


/* ensures children take full-height of viewport 
.wrapper {
  display: flex;
  align-items: stretch;
  min-height: 100vh;
}
.menu-toggle {
  display: none;
}


@media (max-width: 767px) {
  .sidebar {
    display: none;
  }
  .menu-toggle {
    display: initial; /* display the toggle, previously hidden 
  }
}

/* To hide the checkbox 
#hamburger-menu-toggle-1 {
  display: none;
}
/* Styles for the 'open' state, if the checkbox is checked 
#hamburger-menu-toggle-1:checked ~ .sidebar {
  display: initial;
  /* see Step 3 for the rest of the styles 
}
  /*Hamburger Bar Design*/


/*center hamburger*/


/*
  .hamburger{ 
    position: absolute;
    top: 50%;
    left: 50%;
    width: 550px;
    transform: translate(-50%,-50%);
}

.menubar{
  width: 100px;
  height: 100px;
  position: relative;
  border: 5px solid #49b293;
  cursor: pointer;
  transition: all 0.3s ease;  /*for smooth transition
}

/*style the elements inside the div bar
.menubar div{
  height: 8px;
  width: 60px;
  background-color: #fff;
  position: absolute;
  transition: all 0.5s ease;
}
*/

=======
}
>>>>>>>158a87d25d644b4cf5b5d3ac6939829c84d3bda8