
.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center{
  margin-left: auto;
 margin-right: auto; 
 text-align: center;

}


/*

.button_last{
  background-image: -webkit-linear-gradient(top, #e8f3fa, #b0e1ff);
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  text-shadow: 1px 0px 0px #0a040a;
  font-family: Georgia;
  color: #3e08a3;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
*/

.button_last{

  cursor: pointer;
  display: block;
  text-decoration: none;
  text-align: center;
  color: black;
  border-bottom: 2px solid transparent;
  padding: 10px 0px;
   background-color: none;
  color: white;
   /*verticale centering*/
   position: fixed;


   /*
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);*/
    
}

.button_last:hover{
  color: orange;
  border-bottom: 2px solid blue

}


.button_next {
    cursor: pointer;
    background-image: -webkit-linear-gradient(top, #e8f3fa, #b0e1ff);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    text-shadow: 1px 0px 0px #0a040a;
    font-family: Georgia;
    color: #3e08a3;
    font-size: 20px;
    padding: 10px 20px 10px 20px;


  }

.button_overview {
  cursor: pointer;
    background-image: -webkit-linear-gradient(top, #e8f3fa, #b0e1ff);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    text-shadow: 1px 0px 0px #0a040a;
    font-family: Georgia;
    color: #3e08a3;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    position:absolute;
    bottom: 0;
    margin: 0;
  
  }
