body {
    height: 100%;
    margin: 0;
    background-color: #44485a;
  }
  
  .container {
    display: block;
    position: relative;
    left: 0;
    right: 0;
    margin: auto; 
    }
  
  #planetDiv {
    position: absolute;
    left: 0px;
    top: 0px;
  }