.svg-container {
    display: inline-block;
    position: relative;
    width: 60%;
    height:60%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
  }
.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0;
}
.myDiv{
  padding-right: 20%;
}
.secondgraph{
  padding-top:0%;
}
div{
  background-color: black;
  font-family: Dosis;
}
html{
  background-color: black;
  width: 70%;
}
select.hidden{
  visibility: hidden;
}
select.visible{
  visibility: visible;
}
.scale{
  font-family: Dosis;
}
svg{
  width: 85%;
  position: relative;
  left: 25%; 
}
option{
  cursor:pointer;
}
select{
  cursor:pointer;
}